@use "../../../styles/partials/breakpoints" as *;
@use "../../../styles/partials/colors" as *;


.overlay {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: rgba(24, 24, 24, 0.5);
  display: flex;
  flex-direction: column;
  padding: 1.5625rem;
  position: fixed;
  top: 0rem;
  z-index: 0;
}
  .modal-container {
    width: 100%;
    height: 80vh;
    border-radius: 12px;
    background-color: $button;
    display: flex;
    flex-direction: column;
    padding: 1.5625rem;
    position: absolute;
    top: 30rem;

    @include tablet{
      width: 50%;
      top: 7rem;
      left:13rem;
    }

    @include desktop{
      width: 40%;
      height: 50vh;
      left:26rem;
      top: 15rem;

    }

  
  
  &__title {
    display:flex;
    text-align: center;
    color: $main-copy;
    font-size: .75rem;

  }

  &__buttons{
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet{
      margin-left: 2.5rem;
    }
    @include desktop{
      margin-left: 8rem;
    }

    &--link{
      text-decoration: none;
    }

    &--home{
      align-items: center;
      cursor: pointer;
      margin-top: 2rem;
      margin-left: 3rem;
      width: 11rem;
      height: 2rem;
      padding-top: .5rem;
      color: $main-copy;
      background-color: $background;
      border: none;
      border-radius: 10px;
    }



    &--home:hover{
      background-color: $button-hover;
    }

    &--book{
      align-items: center;
      cursor: pointer;
      margin-top: 2rem;
      margin-left: 3rem;
      width: 11rem;
      height: 2rem;
      color: $background;
      background-color: $button;
      border: 2px solid $background;
      border-radius: 10px;

    }

    &--book:hover{
      background-color: $button-hover;
    }

  }
}
  .modal__x {
    display: flex;
    justify-content: flex-end;

    &--btn{
      background-color: transparent;
      border: none;
      font-size: 25px;
      cursor: pointer;
    }
  }
  
  
  
  

  
  
 

