@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;


.hamburger{
    @include tablet{
        display: none;
    }

    &__icon{
       margin-top: 2rem;
       margin-left: 3rem;
       color: $button;
       position: absolute;
       left: 70%;
       top: -3%;
       cursor: pointer;
       
      

    }

}