@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;


.card-wrap{

    @include tablet{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

}

.card{
    margin: 2rem 1rem 0 1rem;
    border-radius: 10px;;
    border: 1px solid black;

    @include tablet{
        max-width: 100%;
        height: 70vh;
    }
}

.card__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 36vh;

    @include desktop{
        height: 45vh;
    }
}

.card__bottom{
    display: flex;
    justify-content: space-between;
    font-family: "Open sans";
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &--bold{
        font-weight: 700;
        margin: 0;
    }

    &--item{
        margin: 0;
    }

    &--left{

    }
}

