@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.payment-wrapper{
    background-color: $background;
    @include tablet{
        width: 100%;
    }

    @include desktop{
        padding-right: 3rem;
    }

    @include wide{
        
        padding-top: 3rem;
    }

     
    &__title{
        color: $main-copy;
        margin-top: 0;
        font-size: 1.5rem;
        padding-left: 1.5rem;
        padding-top: 1.5rem;

        @include tablet{
            padding-left: 2rem;
        }

        @include desktop{
            font-size: 2rem;
            padding-left: 12rem;
        }

        @include wide{
            padding-top: 0;
            margin-bottom: 2rem;
        }
    }
}

.pay-container{
    @include tablet{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        padding-left: 2rem;
        max-width: 1920px;
        margin: 0 auto;
      
    }

    @include desktop{
        margin-top: -1rem;
    }
}

.room-confirm{

    font-family: "Open sans";
    color: $main-copy;
    padding-left: 1.5rem;
    font-weight: 700;

    @include tablet{
        display: flex;
        flex-direction: column;
        height: 20vh;
     
    }

    &__picture{
        
        width: 92%;
        border-radius: 10px;
       
        @include tablet{
           margin-left: -1.5rem;
          
        }

        @include desktop{
            margin-left: 8rem;
            width: 70%;
            margin-top: 1.5rem;
        }

        @include wide{
            width: 100%;
        }
    }

    &__title{
        color: $main-copy;
        font-family: "Sigmar One";
        font-size: 1.5rem;
        @include tablet{
            margin-left: -1.5rem;
            margin-top: -5rem;
            padding-top: 6.5rem;
        }

        @include desktop{
            padding-left: 10rem;
        }

        @include wide{
            margin-bottom: 0;
            
        }
    }

    &__details{
        @include tablet{
            margin-left: -1.5rem;
        
        }

        @include desktop{
            padding-left: 10rem;
            
        }

        @include wide{
            margin-bottom: 0;
           
           
        }
    }
}

.pay-details{
    color: $main-copy;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
   

    @include tablet{
        margin-top: -4.5rem;
    }
    &__subheading{
        font-family: "Open sans";
      @include desktop{
        padding-right: 10rem;
        line-height: 1.75rem;
      }
      
    }
}

.credit-container{
    font-family: "Open sans";
    background-color: $main-copy;
    color: black;
    margin-right: 1.5rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 10px;
   

    @include tablet{
        padding-left: 2rem;
        padding-right: 3rem;
    }

    @include desktop{
        margin-right: 11rem;
        padding-left: 10rem;
    }
    
    &__label{
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;

        @include desktop{
            margin-left: -9rem;
        }

        &--credit{
            @include desktop{
                margin-left: -9rem;
            }
        }
        &--visa{
            margin-right: .5rem;
            margin-left: .5rem;

        }

    }

    &__field{
        width: 100%;
        height: 2rem;
        border-radius: 10px;
        border: 1px solid $background;

        @include tablet{
            width: 110%;
        }

        @include desktop{
            width: 108%;
        }

        &--number{
            width: 100%;
            height: 2rem;
            border-radius: 10px;
            border: 1px solid $background;

            @include tablet{
                width: 110%;
            }

            @include desktop{
                display: flex;
                flex-direction: column;
                margin-left: -9rem;
            }
        }
    }

    &__expiry{
        display: flex;
        gap: 1rem;
        width: 50%;
        padding-top: 1.5rem;

        @include desktop{
            gap: 10rem;
            width: 20%;
        }
    }

    &__payment{
        width: 11rem;
        height: 3rem;
        border-radius: 10px;
        margin-left: 1.5rem;
        border: none;
        background-color: $button;
        color: $main-copy;
        font-family: 'Open Sans';
        cursor: pointer;

        @include desktop{
            width: 15rem;
            margin-left: -3.5rem;
            margin-right: 3rem;
           
        }
    }

    &__payment:hover{
        background-color: $button-hover;
    }
}

.open-modal{
    font-size: 1rem;
    border: none;
    background-color: $main-copy;
    margin-top: 2rem;
    margin-left: 6.5rem;
    border: none;
    background-color: $background;
    color: $main-copy;
    text-decoration: underline;
    cursor: pointer;

    @include tablet{
        margin-left: 7rem;
    }


    @include desktop{
        margin-left: 12rem;
    }
}

.open-modal:hover{
    color: $button;
}

.credit-total{
    font-weight: 700;
    margin-top: 0rem;

    @include desktop{
        margin-left: -8.5rem;
    }
}

