@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;


.header{

    display: flex;
    align-items: center;
    background-color: $background;
    justify-content: space-between;

    &__link{
        text-decoration: none;
    }
    &__link:visited{
        color: $main-copy;
    }
    

    &__logo{
        
        position: absolute;
        left: 10%;
        top: 3%;

      @include tablet{
       position:relative;
        padding-left: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
      }
        @include desktop{
            padding-left: 12rem;
        }
    }

    &__nav{

        display: none;

        @include tablet{
            display: flex;
           min-width: 70%;
           
        }
        @include desktop{
            min-width: 70%;
            
        }
    }
    &__list{

        font-family: "Open sans";
        color: $main-copy;
        list-style: none;

        @include tablet{
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            padding-right: 5.5rem;
           
         }

         @include desktop{
            padding-right: 17rem;
            padding-left: 10rem;
            gap: 2rem;
         }
        }

        &__book{
            text-decoration: none;
            color: $main-copy;
        }

        &__btn{
            width: 11rem;
            height: 3rem;
            border-radius: 10px;
            border: none;
            background-color: $button;
            color: $main-copy;
            font-family: 'Open Sans';
            cursor: pointer;

            @include tablet{
                margin-right: 1.5rem;
            }

            @include desktop{
                margin-right: 12rem;
            }
            
        }

        &__btn:hover{
            background-color: $button-hover;
        }

    }

   