@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.noBooks{
    background-color: $background;
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 100vh;
    color: $main-copy;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-left: 3rem;
}

.reservations{
    background-color: $background;
    margin-top: 0;
    margin-bottom: 0;
    color: $main-copy;
    padding: 1.5rem;


    @include tablet{
        padding-left: 2rem;
    }

    @include desktop{
        padding-left: 12rem;
    }

    @include wide{
        font-size: 2rem;
    }
}

.space{

    background-color: $background;
    font-family: "Open sans";
    color: $main-copy;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet{
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 0;
        height: 100vh;
    }

    &__img{
        width: 100%;
        border-radius: 10px;

        @include tablet{
            min-width: 30%;
            height: 35%;
        
        }

        @include desktop{
           width: 30%;
           height: 40%;
           margin-left: 10rem;
            
        }

        @include wide{
            width: 40%;
            height: 50%;
        }
    }

    &__details{

        @include tablet{
            padding-right: 2rem;
            padding-left: 5rem;
            margin-top: -1rem;
        }

        @include desktop{
            padding-right: 15rem;
            margin-left: -7rem;
           
        }

        @include wide{
            font-size: 1.5rem;
        }
        &--light{
            font-weight: 400;
        }

    }

    &-link{
        text-decoration: none;
    }
   

    &__btn{
            width: 11rem;
            height: 3rem;
            border-radius: 10px;
            border: none;
            background-color: $button;
            color: $main-copy;
            font-family: 'Open Sans';
            cursor: pointer;
            margin-bottom: 2rem;
            margin-right: 2rem;
            margin-left: 0rem;
            text-decoration: none;

            @include desktop{
                margin-left: 0;
            }
           
    }

    &__btn:hover{
        background-color: $button-hover;
    }

    
}