@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;




.room{
    background-color: $background;
    color: $main-copy;
    padding-top: 1rem;

    @include tablet{
        display: flex;
       justify-content: space-between;
       align-items: center;
       min-width: 30%;
       padding-left: .5rem;
    }

    @include desktop{
        padding-left: 10.5rem;
    }
}

.left{
        padding-left: 1rem;
        padding-right: 1.75rem;

        @include desktop{
            width: 40rem;
        }

    &__details{
        padding: .5rem;

        &--heading{
            margin-top: 0;
            font-size: 1.5rem;

            @include tablet{
                padding-left: 0;
                white-space: nowrap;
                padding-bottom: 0;
            }

            @include wide {
                font-size: 2rem;
            }

        }
    }

       &__location{
            font-family: "Open sans";
            font-size: 1rem;

            @include wide{
                font-size: 1.5rem;
            }
    
        &--bold{
                font-weight: 700;
            }
        }

        &__room{
            @include desktop{
                display: flex;
                flex-direction: column;
            }
        }

        &__image{
            width: 100%;
            height: 100%;
            float: left;
            object-fit: cover;
            border-radius: 10px;
            margin-left: .5rem;
            margin-right: 1rem;
            margin-bottom: 1.5rem;

            @include tablet{
                width: 90%;
            }

            @include wide{
                width: 140%;
            }

        }

        &__description{
            font-family: "Open sans";
            line-height: 1.5rem;
            padding-left: .5rem;

            @include tablet{
                padding-bottom: 2rem;
            }

            @include wide{
                font-size: 1.5rem;
                line-height: 2rem;
                width: 50rem;
            }
        }
    }  


.right{
   
  margin-left: -0.5rem;

    &__start{
        font-family: "Open sans";
        
    }

    &__end{
        font-family: "Open sans";
    }

    &__date{
        font-family: "Open sans";
    }

    &__btn{
        text-decoration: none;
    }

    &__cta{
        display: flex;
        flex-direction: column;
        text-align: center;

        &--book{
            width: 40%;
            height: 2rem;
            margin: 1.5rem 0 1.5rem 2rem;
            align-items: center;
            padding-top: .5rem;
            background-color: $button;
            color: $main-copy;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            @include tablet{
                width: 64%;
            }

            @include desktop{
               width: 32%;
            } 

           
        }

        &--book:hover{
            background-color: $button-hover;
        }

        &--home{
            padding-bottom: 1.5rem;
            font-family: "Open sans";
            text-decoration: none;
            font-size: 1rem;
            margin-left: -7.5rem;
            text-decoration: underline;

            @include tablet{
                padding-left: 8.5rem;
            }

            @include desktop{
                padding-left: 0rem;
                margin-left: -18rem;
            } 

            @include wide{
                margin-left: -28.5rem;
            }
        }

        &--home:visited{
            color: $main-copy;
        }

        &--home:hover{
            color: $button;
        }
    }

    &__time{

        @include tablet{
            margin-top: -2rem;
        }

        @include desktop{
            display: flex;
            flex-direction: column;
            padding-right: 14.5rem;
            margin-top: -5rem;
        }

        
    }

    &__calendar{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
    
        @include tablet{
          margin-right: 2.5rem;
        }

        @include desktop{
            margin-right: 0rem;
            width: 15rem;
            
        }

        @include wide{
            width: 25rem;
            
        }
    }

    &__label{
        font-family: "Open sans";
        padding-bottom: 1rem;
        padding-top: 1rem;

        @include wide{
            font-size: 1.5rem;
        }

    }
}